@media (min-width: 1025px) {
    .pictureN {
        padding-left: 40%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .pictureN {
        max-width: 40dvh;
        max-height: 80dvh;
        justify-content: center;
        align-items: center;
    }
}

.text {
    text-align: center;
}


.list { 
    padding-left: 10dvh;
}

.note {
    font-size: x-small;
}


@media (min-width: 1025px) {
    .pictureN1 {
        
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media (max-width: 1024px) {
    .pictureN1 {
        max-width: 40dvh;
        max-height: 80dvh;
        justify-content: center;
        align-items: center;
    }
}